:root {
    --primary-color: white;
    --secondary-color: grey;
    --text-color: black;
    --accent-color: #6764FF;
    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-wrap > * {
    flex: 1 0 150px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.styled-btn {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
}

.container {
    width: min(90%, 95vw);
    margin-inline: auto;
}

header .container {
    display: flex;
    padding-top: 1em;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
}

.nav-list {
    display: none;
}

.nav-list .nav-item {
    text-decoration: none;
    color: var(--text-color);
}

.nav-list .active {
    color: var(--accent-color);
}


@media(min-width: 700px) {
    .nav-list {
        list-style: none;
        display: flex;
        gap: 2em;
    }
}


/* Form */

form {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 2em;
}

form :is(input, textarea, select) {
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 1em;
    width: 100%;
}

.logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    font-family: "Pacifico", cursive;
}

.stick-top{
    position: sticky;
    top: 0;
    z-index: 10;
    transform: translateY(-0.5em);
    padding: 2em;
}

label {
    display: block;
    margin-bottom: 1em;
}

textarea {
    resize: none;
    min-height: 20vh;
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

button {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 48px;
  width: 160px;
  cursor: pointer;
  font-weight: bold;
  height: 55px;
  -webkit-box-reflect: bottom 1px linear-gradient(transparent, #0004);
}

button span {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  text-align: center;
  background: #2e2e2e;
  color: rgba(255, 255, 255, 0.781);
  transition: 0.5s;
  z-index: 1;
}

button:hover span {
  color: rgba(255, 255, 255, 1);
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  background: linear-gradient(
    45deg,
    #91155d,
    #525296,
    #0f0,
    #ff0,
    #fb0094,
    #00f,
    #0f0,
    #ff0
  );
  animation: animate123 20% linear infinte;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 400%;
  filter: blur(20px);
  transition: 0.5s;
  background: linear-gradient(
    45deg,
    #91155d,
    #525296,
    #0f0,
    #ff0,
    #fb0094,
    #00f,
    #0f0,
    #ff0
  );
  animation: animate123 20% linear infinte;
}

button:hover::before,
button:hover::after {
  opacity: 1;
}

@keyframes animate123 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
}


select.round {
      /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      radial-gradient(#ddd 70%, transparent 72%);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }
  
  select.round:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(gray 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .5em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  