:root {
    --primary-color: white;
    --secondary-color: grey;
    --text-color: black;
    --accent-color: #6764FF;
    --border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-wrap > * {
    flex: 1 0 150px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.styled-btn {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
}

.container {
    width: min(90%, 95vw);
    margin-inline: auto;
}

header .container {
    display: flex;
    padding-top: 1em;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--accent-color);
}

.nav-list {
    display: none;
}

.nav-list .nav-item {
    text-decoration: none;
    color: var(--text-color);
}

.nav-list .active {
    color: var(--accent-color);
}


@media(min-width: 700px) {
    .nav-list {
        list-style: none;
        display: flex;
        gap: 2em;
    }
}


/* Form */

form {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    gap: 2em;
}

form :is(input, textarea, select) {
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    padding: 1em;
    width: 100%;
}

.logo {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    font-family: "Pacifico", cursive;
}

.stick-top{
    position: sticky;
    top: 0;
    z-index: 10;
    transform: translateY(-0.5em);
    padding: 2em;
}

label {
    display: block;
    margin-bottom: 1em;
}

textarea {
    resize: none;
    min-height: 20vh;
    max-height: 30vh;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}